<div class="banner-container">
    <div class="banner-left">
        <div class="lg-title">
            Hi, I’m Rabin <span class="wave-emoji">👋</span>
        </div>
        <div class="banner-content">
            Hello! I'm Rabin R, a front-end developer with 2.6 years of experience specializing in Angular and Ionic. I
            am skilled in creating a responsive, and user-friendly web and mobile applications, blending creativity with
            technical expertise to deliver high-quality solutions. Dedicated to continuous improvement, I focus on
            staying adaptable to meet the evolving needs of users and clients alike.
        </div>
        <div class="location-info">
            <span class="location-icon">
                <ion-icon name="location-outline"></ion-icon>
            </span>
            <span class="location-text">15/5, Orandiamman Kovil Ave, Velachery, Chennai, Tamil Nadu 600042</span>
        </div>
        <div class="availability">
            <span class="green-dot"></span> Available for new projects
        </div>
        <div class="social-icons">
            <a href="#" target="_blank">
                <ion-icon name="logo-github"></ion-icon>
            </a>
            <a href="#" target="_blank">
                <ion-icon name="logo-twitter"></ion-icon>
            </a>
            <a href="#" target="_blank">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </div>
    </div>
    <div class="banner-right">
        <div class="image-wrapper">
            <div class="image-shadow"></div>
            <img src="image/my_images/1721112075163.jpg" alt="Profile Image" class="main-image" />
        </div>
    </div>
</div>