.v-flex {
  display: flex;
  flex-direction: column;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}


a {
  color: #b6b6c6 !important;
}

.pdf-viewer {
  position: static !important;
}


.ng2-pdf-viewer-container {
  overflow-x: visible !important;
}

.ml-3 {
  margin-left: 1rem !important;
}
