/* You can add global styles to this file, and also import other style files */

$Navy         : #0a192f;
$LightNavy    : #112240;
$LightestNavy : #303C55;
$Slate        : #8892b0;
$LightSlate   : #a8b2d1;
$LightestSlate: #ccd6f6;
$White        : #e6f1ff;
$Green        : #64ffda;
$GreenOpacity : rgba(100,255,218,0.07);

$MainFont: Calibre,San Francisco,SF Pro Text,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Helvetica Neue,Segoe UI,Arial,sans-serif;
$CodeFont: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, Monospace;




:root {
  --bs-primary: #64ffda;
  --primary: #64ffda;
  --bs-light:#184070;
  --bs-tab-hover:#26C2F2;
  --bs-tab-label:#184070;
  --bs-primary-rgb: 82, 96, 255;
  --bs-secondary: #C7F3FF;
  --bs-menu-bg:#C7F3FF;
  --bs-secondarylight:#ECF7FC;
  --bs-bg-background: #EDEDED;
  --bs-grid-header-bg: #ffff;
  --bs-grid-border: #b3b3b3;
  --bs-grid-hover: #f2f2f2;
  --bs-grid-text: #2d2d2d;
  // --bs-input-border: #2d2d2d;
  --bs-input-border: #808080;
  --bs-body-font-size: 12px;
  --bs-label-color: #666666;
  --bs-font-barlow: 'Barlow', sans-serif;
  --bs-font-family: 'Inter', sans-serif;
  --header-font-color: #666666;
  --table-data-backgroud: #FFFFFF;
  --table-header-background: #333333;
  --bs-primary-button:transparent linear-gradient(90deg, #0A4E88 0%, #1D305D 100%) 0% 0% no-repeat padding-box;;
  --card-header-color: #0C58A4;
}
