.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0px 80px;
    backdrop-filter: saturate(200%) blur(20px);
    // z-index: 9999;
    position: fixed;
    // top: ;

    .logo {
        ion-icon {
            color: var(--logo-color);
            font-size: 96px;
        }
    }

    .menu-container {

        ul {
            list-style: none !important;
            display: flex;
            align-items: center;
            gap: 40px;

            li {
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                text-align: left;
                color: var(--text-color);
                display: flex;
                align-items: center;
                cursor: pointer;

                ion-icon {
                    color: var(--text-color);
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}

.cus-menu {
    min-width: 100px !important;
    max-width: 200px !important;
    margin-top: 15px;
    border: 0.1px solid var(--logo-color);
    border-radius: 10px !important;
    margin-right: 30px !important;

    .mat-mdc-menu-content {
        .mat-mdc-menu-item {
            display: flex;
            align-items: center;
            min-height: 35px;

            .mat-mdc-menu-item-text {
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--text-color);
            }
        }
    }
}
