@import '../base/mixins.scss';



::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-height;
  border-radius: $scrollbar-border-radius;
}

::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
  border-left: $scrollbar-border-width solid transparent;
  border-right: $scrollbar-border-width solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-color;
  cursor: pointer;
  border-radius: $scrollbar-border-radius;
  height: $scrollbar-height;
  transition: background 0.3s ease; // Smooth transition for hover effects
}

::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-thumb-hover-color;
}

::-webkit-scrollbar-thumb:active {
  background: $scrollbar-thumb-active-color;
}

::-webkit-scrollbar:horizontal {
  width: $scrollbar-height; // Make height for horizontal scrollbar
  height: $scrollbar-width; // Make width for horizontal scrollbar
}

::-webkit-scrollbar-track:horizontal {
  height: $scrollbar-width;
  border-top: $scrollbar-border-width solid transparent;
  border-bottom: $scrollbar-border-width solid transparent;
}