// Sizing Variable

$sizes: 100;
$sizesBasedOnPx: 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700;
$percent-sizes: 10, 20, 25, 33, 50, 66, 75, 80, 90, 100;

$font-weights: (
    normal: 400,
    bold: 700,
    bolder: 900
);

$justify-options: (
    start: flex-start,
    center: center,
    end: flex-end,
    between: space-between,
    around: space-around,
    evenly: space-evenly
);

$align-items-options: (
    start: flex-start,
    center: center,
    end: flex-end,
    stretch: stretch,
    baseline: baseline
);

$align-self-options: (
    auto: auto,
    start: flex-start,
    center: center,
    end: flex-end,
    stretch: stretch,
    baseline: baseline
);

$flex-direction-options: (
    row: row,
    column: column,
    row-reverse: row-reverse,
    column-reverse: column-reverse
);

$flex-wrap-options: (
    nowrap: nowrap,
    wrap: wrap,
    wrap-reverse: wrap-reverse
);

$flex-grow-options: (
    0: 0,
    1: 1
);

$flex-shrink-options: (
    0: 0,
    1: 1
);

$flex-basis-options: (
    auto: auto,
    initial: initial,
    full: 100%
);

// Base Typography
$typography: (
    font-family: "Inter, sans-serif",
    font-size-sm: 16px,
    font-size-md: 14px,
    font-size-lg: 18px,
    font-size-xl: 20px,
    font-size-xxl: 22px,
    font-weight-sm: 300,
    font-weight-md: 400,
    font-weight-lg: 500,
    font-weight-xl: 600,
    font-weight-xxl: 700,
    line-height: 1.5
);



// Border Radius
$border-radius: (
    none: 0,
    small: 4px,
    medium: 8px,
    large: 12px,
    pill: 50rem,
    circle: 50%
);

// Z-Index Levels
$z-index: (
    dropdown: 1000,
    sticky: 1020,
    fixed: 1030,
    modal: 1040,
    popover: 1050,
    tooltip: 1060
);

// Shadows
$shadows: (
    small: 0 1px 2px rgba(0, 0, 0, 0.1),
    medium: 0 4px 8px rgba(0, 0, 0, 0.15),
    large: 0 8px 16px rgba(0, 0, 0, 0.2)
);

// Transitions
$transition: (
    fast: 0.2s ease-in-out,
    normal: 0.4s ease-in-out,
    slow: 0.6s ease-in-out
);

// Scrollbar Variables
$scrollbar-width: 5px;
$scrollbar-height: 10px;
$scrollbar-track-color: #D9D9D9;
$scrollbar-thumb-color: #6F6F6F;
$scrollbar-thumb-hover-color: darken($scrollbar-thumb-color, 10%);
$scrollbar-thumb-active-color: lighten($scrollbar-thumb-color, 10%);
$scrollbar-border-width: 2px;
$scrollbar-border-radius: 1rem;

// theme variables

$themes: (
    dark: (primary-color: #F9FAFB,
        secondary-color: #374151,
        background-color: #030712,
        text-color: #D1D5DB,
        btn-text-color: rgba(17, 24, 39, 1),
        logo-color: rgba(249, 250, 251, 1)),
    light: (primary-color: #111827,
        secondary-color: #E5E7EB,
        background-color: #ffffff,
        text-color: #4B5563,
        btn-text-color: rgba(249, 250, 251, 1),
        logo-color: rgba(17, 24, 39, 1))
);