:root {
    --font-family: "Inter", sans-serif;
    --font-default-size: 14px;
    --font-default-weight: 400;

    // grayscale (light)
    --gray-light-default: #ffffff;
    --gray-light-50: #f9fafb;
    --gray-light-100: #f3f4f6;
    --gray-light-200: #e5e7eb;
    --gray-light-300: #d1d5db;
    --gray-light-400: #9ca3af;
    --gray-light-500: #6b7280;
    --gray-light-600: #4b5563;
    --gray-light-700: #374151;
    --gray-light-800: #1f2937;
    --gray-light-900: #111827;
    --gray-light-950: #030712;

    // grayscale (dark)
    --gray-dark-default: #030712;
    --gray-dark-50: #111827;
    --gray-dark-100: #1f2937;
    --gray-dark-200: #374151;
    --gray-dark-300: #4b5563;
    --gray-dark-400: #6b7280;
    --gray-dark-500: #9ca3af;
    --gray-dark-600: #d1d5db;
    --gray-dark-700: #e5e7eb;
    --gray-dark-800: #f3f4f6;
    --gray-dark-900: #f9fafb;
    --gray-dark-950: #ffffff;

    // emerald
    --emerald-500: #10b981;

    --app-primary: #2874fc;
    --app-warning: #ec681c;
    --app-info: #bc9809;
    --app-success: #439326;
    --app-success1: #87ffb3;
    --app-danger: #ff1717;
    --btn-success: #357d1a;
}

.dark-theme {
    @include apply-theme(dark);
}


.light-theme {
    @include apply-theme(light);
}


.slot-center {
    @include slot-center;
}

* {
    @include reset-selector;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.z-iM {
    z-index: -1;
}