@import '../base/responsive-mixin.scss';

// Padding Variables
$padding-sizes: (
    p0: 0,
    p2: 2px,
    p5: 5px,
    p8: 8px,
    p10: 10px,
    p16: 16px,
    p24: 24px,
    p26: 26px,
);

// Margin Variables
$margin-sizes: (
    m0: 0,
    m2: 2px,
    m5: 5px,
    m8: 8px,
    m10: 10px,
    m16: 16px,
    m24: 24px,
    m26: 26px,
);

// Gaps Variables
$gap-sizes: (
    gap0: 0,
    gap2: 2px,
    gap5: 5px,
    gap8: 8px,
    gap10: 10px,
    gap16: 16px,
    gap24: 24px,
    gap26: 26px,
);

// Apply Utility Mixins
@include generate-padding-utilities($padding-sizes);
@include generate-margin-utilities($margin-sizes);
@include generate-gap-utilities($gap-sizes);

.slot-right,
.ms-auto,
.ml-auto {
    margin-left: auto;
}

.slot-left,
.me-auto,
.mr-auto {
    margin-right: auto;
}


// position utilities

.relative {
    position: relative;
}

.ab {
    @include breakpoint(md) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
}

.rel {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}

// Flex Utilities

.flex-contents {
    display: contents;
}

.flex-1 {
    flex: 1;
}

.v-flex {
    display: flex;
    flex-direction: column;
}


.d-flex {
    display: flex !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.align-items-start {
    @include flex-align(flex-start);
}


.flex-wrap {
    @include flex-wrap-util(wrap);
}

.flex-nowrap {
    @include flex-wrap-util(nowrap);
}

.flex-wrap-reverse {
    @include flex-wrap-util(wrap-reverse);
}


.slot-center {
    display: flex;
    @include flex-align(center);
    @include flex-justify(center);
}

.align-items-center {
    @include flex-align(center);
}

.align-items-end {
    @include flex-align(flex-end);
}

.justify-content-start {
    @include flex-justify(flex-start);
}

.justify-content-center {
    @include flex-justify(center);
}

.justify-content-end {
    @include flex-justify(flex-end);
}

// Generate Text Alignment Utilities
.text-left {
    @include text-util(left);
}

.text-center {
    @include text-util(center);
}

.text-right {
    @include text-util(right);
}

.text-start {
    @include text-util(start);
}

.text-end {
    @include text-util(end);
}


// width utilities 

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

// height utilities 

.h100 {
    height: 100%;
}