@import '../base/mixins.scss';

@import '../base/responsive-mixin.scss';


// Loop through the visibility states
@each $visibility-state in $visibility {

    @include breakpoint(sm) {
        @if $visibility-state ==visible {
            .visible-sm {
                display: block !important; // Valid declaration inside a rule
            }
        }

        @else if $visibility-state ==hidden {
            .hidden-sm {
                display: none !important; // Valid declaration inside a rule
            }
        }
    }

    @include breakpoint(md) {
        @if $visibility-state ==visible {
            .visible-md {
                display: block !important; // Valid declaration inside a rule
            }
        }

        @else if $visibility-state ==hidden {
            .hidden-md {
                display: none !important; // Valid declaration inside a rule
            }
        }
    }

    @include breakpoint(lg) {
        @if $visibility-state ==visible {
            .visible-lg {
                display: block !important; // Valid declaration inside a rule
            }
        }

        @else if $visibility-state ==hidden {
            .hidden-lg {
                display: none !important; // Valid declaration inside a rule
            }
        }
    }
}

// Advanced example of applying shadow and transition
.btn {
    @include shadow(2);
    @include transition(all, 0.3s);

    &:hover {
        @include shadow(4);
    }
}