// Generate Padding Utilities
@mixin generate-padding-utilities($sizes) {
    @each $name, $size in $sizes {
        .#{$name} {
            padding: $size !important;
        }

        .#{$name}-top {
            padding-top: $size !important;
        }

        .#{$name}-bottom {
            padding-bottom: $size !important;
        }

        .#{$name}-left {
            padding-left: $size !important;
        }

        .#{$name}-right {
            padding-right: $size !important;
        }
    }
}

// Generate Margin Utilities
@mixin generate-margin-utilities($sizes) {
    @each $name, $size in $sizes {
        .#{$name} {
            margin: $size !important;
        }

        .#{$name}-top {
            margin-top: $size !important;
        }

        .#{$name}-bottom {
            margin-bottom: $size !important;
        }

        .#{$name}-left {
            margin-left: $size !important;
        }

        .#{$name}-right {
            margin-right: $size !important;
        }
    }
}

// Generate Gap Utilities
@mixin generate-gap-utilities($sizes) {
    @each $name, $size in $sizes {
        .#{$name} {
            gap: $size !important;
        }
    }
}

// Alignment Utilities
@mixin flex-align($align) {
    align-items: $align !important;
}

// Justification Utilities
@mixin flex-justify($justify) {
    justify-content: $justify !important;
}

@mixin text-util($align) {
    text-align: $align;
}

@mixin flex-wrap-util($wrap) {
    flex-wrap: $wrap;
}


// Font Sizes
$font-sizes: (
    fs10: 10px,
    fs12: 12px,
    fs14: 14px,
    fs16: 16px,
    fs18: 18px,
    fs20: 20px,
    fs24: 24px,
    fs26: 26px,
);

// Font Weights Map
$font-weights: (
    normal: normal,
    bold: bold,
    bolder: bolder,
    lighter: lighter,
    semi-bold: 600,
    medium: 500,
    light: 300,
);

// Line Heights
$line-heights: (
    lh-normal: normal,
    lh-tight: 1.2,
    lh-loose: 1.5,
);

// Utility function to generate color variants
@function color-variant($color, $amount: 10%) {
    @return darken($color, $amount);
}

// Background Color Utilities
@mixin background-color($color) {
    background-color: $color;
    color: $light; // Use light text on dark background

    &:hover {
        background-color: color-variant($color, 10%);
    }
}

// Visibility Utilities
$visibility: (
    visible,
    hidden
);

// Shadow and Transition Utilities
@mixin shadow($level) {
    box-shadow: 0 $level * 2px $level * 4px rgba(0, 0, 0, 0.1);
}

@mixin transition($property, $duration, $easing: ease) {
    transition: $property $duration $easing;
}



$grid-column: 12;
$grid-spacer: 7px;

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

@mixin make-grid-columns() {
    @each $breakpoint in map-keys($breakpoints) {
        $min: map-get($breakpoints, $breakpoint);

        @for $i from 1 through $grid-column {
            .col-#{$breakpoint}-#{$i} {
                position: relative;
                padding: 0 $grid-spacer;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        @media (min-width: $min) {
            @for $i from 1 through $grid-column {
                $width-percentage: calc(#{$i} / #{$grid-column} * 100%);

                .col-#{$breakpoint}-#{$i} {
                    flex: 0 0 $width-percentage;
                    max-width: $width-percentage;
                }
            }
        }
    }
}


// scroll bar variables


$scrollbar-width: 5px;
$scrollbar-height: 10px;
$scrollbar-track-color: #D9D9D9;
$scrollbar-thumb-color: #6F6F6F;
$scrollbar-thumb-hover-color: darken($scrollbar-thumb-color, 10%);
$scrollbar-thumb-active-color: lighten($scrollbar-thumb-color, 10%);
$scrollbar-border-width: 2px;
$scrollbar-border-radius: 1rem;


// theme variables

$themes: (
    dark: (primary-color: #F9FAFB,
        secondary-color: #374151,
        background-color: #030712,
        text-color: #D1D5DB,
        btn-text-color: rgba(17, 24, 39, 1),
        logo-color: rgba(249, 250, 251, 1)),
    light: (primary-color: #111827,
        secondary-color: #E5E7EB,
        background-color: #ffffff,
        text-color: #4B5563,
        btn-text-color: rgba(249, 250, 251, 1),
        logo-color: rgba(17, 24, 39, 1))
);

// Mixin to apply theme styles
@mixin apply-theme($theme) {
    $theme-map: map-get($themes, $theme);
    background-color: map-get($theme-map, background-color);
    color: map-get($theme-map, text-color);
}