@import './form.scss';

.zil-form {
    --bs-danger: #dc3545;

    // Form Group
    --input-group-margin-bottom: 16px;

    // ICON size config
    --icon-size: 0.875rem;

    // Label Config
    --home-font-size: 13px;
    --label-font-size: 14px;
    --label-font-weight: 500;
    --label-font-size-sm: 14px;
    --label-font-weight-sm: 400;
    --label-color: var(--text-label-color);
    --label-bottom-padding: 2px;

    // Input Config
    --input-width: 100%;
    --input-height: 36px;
    --home-input-width: 100%;
    --home-input-height: 32px;
    --input-font-size: 15px;
    --input-font-weight: 500;
    --input-color: #343434;
    --input-padding: 0 11px;

    --input-background-color: #FFFFFF;
    --input-background-color-focus: var(--input-background-color);
    --input-background-color-active: var(--input-background-color);
    --input-background-color-error: var(--input-background-color);
    --input-border-radius: 8px;
    --input-box-shadow: none;

    --input-border-color: #BDBDBD;
    --input-border-color-focus: transparent;
    --input-border-color-active: transparent;
    ;
    --input-border-color-error: var(--app-danger);

    // Error Text Config
    --error-text-color: var(--app-danger);
    --error-text-font-size: 12px;
    --error-text-font-weight: 400;
    --input-group-margin-bottom: 4px;

}

// for float css
.itg-form-group-float {
    --input-control-background-color: #F7F7F7;
    --input-height: 2.25rem;
    --input-border-color: #F7F7F7;
}
