<div class="portfolio-home">
    <div class="home-foreground">
        <app-navigation class="w100" [navItems]="navItems()" [logoText]="'Rabin-Ramarajan'"
            (tabClick)="setActiveTab($event)">
        </app-navigation>

        <div class="home-content">

            <div class="about-container" id="hello">
                <div class="introduction">
                    <div class="introduction-2">Hi all. I am</div>
                    <div class="div-2">
                        <div class="name">{{ profile.name }}</div>
                        <div class="job-title">>
                            <span #typedElement></span>
                        </div>
                    </div>
                </div>

                <div class="div-2">
                    @if (!gameState().gameCompleted) {
                    <p class="complete-game">// complete the game to continue</p>
                    } @else {
                    <p class="complete-game">// game completed! well done!</p>
                    }
                    <p class="more-about">// find my profile on Github:</p>
                    <code class="git-link ">
                        <span class="span">const</span>
                        <span class="text-wrapper-3">&nbsp;</span>
                        <span class="text-wrapper-4">githubLink</span>
                        <span class="text-wrapper-3"> = </span>
                        <span class="text-wrapper-5 pointer" (click)="openLink(profile.githubLink)">"{{ profile.githubLink }}"</span>
                    </code>
                </div>
            </div>

            <!-- <div class="right-content">
                <app-snake-game />
            </div> -->
        </div>
        <app-social-links class="w100" [socialLinks]="socialLinks" [githubUsername]="profile.githubUsername"
            [githubUrl]="getGithubProfileUrl()">
        </app-social-links>
    </div>
</div>