:root {
    --body-sm-font-family: "Fira Code", monospace;
    --body-sm-font-weight: 400;
    --body-sm-font-size: 14px;
    --body-sm-letter-spacing: 0px;
    --body-sm-line-height: 19.600000381469727px;
    --body-sm-font-style: normal;
    --body-md-font-family: "Fira Code", monospace;
    --body-md-font-weight: 400;
    --body-md-font-size: 16px;
    --body-md-letter-spacing: 0px;
    --body-md-line-height: 24px;
    --body-md-font-style: normal;
    --body-lg-font-family: "Fira Code", monospace;
    --body-lg-font-weight: 400;
    --body-lg-font-size: 18px;
    --body-lg-letter-spacing: 0px;
    --body-lg-line-height: 27px;
    --body-lg-font-style: normal;
    --heading-h1-font-family: "Fira Code", monospace;
    --heading-h1-font-weight: 400;
    --heading-h1-font-size: 60px;
    --heading-h1-letter-spacing: 0px;
    --heading-h1-line-height: 66px;
    --heading-h1-font-style: normal;
    --heading-h4-font-family: "Fira Code", monospace;
    --heading-h4-font-weight: 400;
    --heading-h4-font-size: 30px;
    --heading-h4-letter-spacing: 0px;
    --heading-h4-line-height: 42px;
    --heading-h4-font-style: normal;
}
