<section class="section banner">
  <div [@bannerTrigger] class="container">
    <div class="section-box-banner">
      <div class="content">
        <div>
          <h1>Hello! My name is</h1>
        </div>
        <div class="banner-title">
          <h2>Rabin Ramarajan</h2>
          <span typingAnimator class="font" [sentences]="['Front end Developer ...', 'Web Developer ...']">
          </span>
          <!-- <app-typing-animation [typingText]="list"></app-typing-animation> -->
          <!-- <h3>Frontend Developer</h3> -->
        </div>
        <div class="banner-description">
          <p class="mt-4">
            I have
            <span class="underline">1 year of experience</span> developing
            systems and technological solutions to make the
            web a better place. scalable code in
            <span class="underline">Angular</span> and sometimes in
            <span class="underline">React</span> applying good practices and
            development standards.
          </p>
        </div>
      </div>
      <div class="div-btn-banner">
        <a (click)="
            analyticsService.sendAnalyticEvent(
              'click_send_mail',
              'banner',
              'email'
            )
          " href="mailto:suriyarabin@gmail.com" target="_black" class="main-btn">
          Get in touch
        </a>
      </div>
    </div>
  </div>
</section>