@if (detail(); as tech) {
  <aside class="edetail" role="complementary" [attr.aria-label]="tech.name + ' details'">
    <div class="edetail__header">
      <p class="edetail__eyebrow">{{ tech.category }}</p>
      @if (tech.experience) {
        <span class="edetail__experience">{{ tech.experience }} yrs</span>
      }
    </div>
    <h4 class="edetail__name">{{ tech.name }}</h4>
    @if (tech.meta) {
      <p class="edetail__meta">{{ tech.meta }}</p>
    }
    @if (tech.features?.length) {
      <ul class="edetail__features">
        @for (feat of tech.features; track feat) {
          <li class="edetail__feat">{{ feat }}</li>
        }
      </ul>
    }
    @if (projectNames(); as projects) {
      <div class="edetail__projects">
        <p class="edetail__projects-label">Used in</p>
        <ul class="edetail__projects-list">
          @for (proj of projects; track proj.slug) {
            <li class="edetail__project">{{ proj.title }}</li>
          }
        </ul>
      </div>
    }
  </aside>
}
