@include generate-spacing-utilities($sizes, "p", "padding"); // For padding utilities
@include generate-spacing-utilities($sizes, "m", "margin"); // For margin utilities
@include generate-spacing-utilities($sizes, "g", "gap"); // For gap utilities



.auto-margin-left {
    margin-left: auto;
}

.auto-margin-right {
    margin-right: auto;
}

.slot-left {
    @extend .auto-margin-right;
}

.slot-right {
    @extend .auto-margin-left;
}

.relative {
    position: relative;
}

.ab {
    @include breakpoint(md) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
}

.rel {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}