@include generate-font-utilities($sizes, $font-weights);

.text {
    @include breakpoint(sm) {
        font-size: map-get($typography, font-size-sm);
    }

    @include breakpoint(md) {
        font-size: map-get($typography, font-size-md);
    }

    @include breakpoint(lg) {
        font-size: map-get($typography, font-size-lg);
    }

    @include breakpoint(xl) {
        font-size: map-get($typography, font-size-xl);
    }

    @include breakpoint(xxl) {
        font-size: map-get($typography, font-size-xxl);
    }
}