<div id="home" class="header">
  <div class="container">
    <div class="top-header">
      <div class="top-nav">
        <div class="navigation">
          <div class="logo">
            <img src="assets/logo.png" alt=" " />
          </div>
          <div class="navigation-right">
            <span class="menu"><img src="assets/menu.png" alt=" " /></span>
            <nav class="link-effect-3" id="link-effect-3">
              <ul class="nav1 nav nav-wil">
                <li class="active">
                  <a data-hover="Home" href="#">Home</a>
                </li>
                <li>
                  <a class="scroll" data-hover="About" href="#">About</a>
                </li>
                <li>
                  <a class="scroll" data-hover="Education" href="#"
                    >Education</a
                  >
                </li>
                <li>
                  <a class="scroll" data-hover="Works" href="#"
                    >Works</a
                  >
                </li>
                <li>
                  <a class="scroll" data-hover="Contact" href="#"
                    >Contact</a
                  >
                </li>
              </ul>
            </nav>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="banner-info">
        <div class="row">
          <div class="col-md-7 header-right">
            <h1>Hi !</h1>
            <h6>FrontEnd Developer</h6>
            <ul class="address">
              <li>
                <ul class="address-text">
                  <li><b>NAME</b></li>
                  <li>I'M Rabin Ramarajan</li>
                </ul>
              </li>
              <li>
                <ul class="address-text">
                  <li><b>D.O.B</b></li>
                  <li>26-07-2000</li>
                </ul>
              </li>
              <li>
                <ul class="address-text">
                  <li><b>PHONE </b></li>
                  <li>+91 9789376992</li>
                </ul>
              </li>
              <li>
                <ul class="address-text">
                  <li><b>ADDRESS </b></li>
                  <li>1/44 main road Edaicheruvai, Cuddalore, TamilNadu - 606106</li>
                </ul>
              </li>
              <li>
                <ul class="address-text">
                  <li><b>E-MAIL </b></li>
                  <li>
                    <a href="mailto:suriyarabin@gmail.com">suriyarabin@gmail.com</a>
                  </li>
                </ul>
              </li>
              <li>
                <ul class="address-text">
                  <li><b>WEBSITE </b></li>
                  <li><a target="_blank" href="https://rabinramarajan.github.io/recreate-marvelpage/">https://rabinramarajan.github.io/recreate-marvelpage/</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-md-5 header-left">
            <img src="assets/image-2.png" alt="" />
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
