<footer>
  <div [@animateFooter]>
      <ul class="footer-left-bar d-none d-md-block">
          <li>
              <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")' href="https://github.com/Rabinramarajan" target='_blank'>
                <ion-icon name="logo-github"></ion-icon>
              </a>
          </li>
          <li>
              <a (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "github")' href="https://www.linkedin.com/in/rabin-ramarajan-0a2407228/" target='_blank'>
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
          </li>
      </ul>
      <div class="footer-right-bar d-none d-md-block">
          <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")' href="mailto:suriyarabin@gmail.com" target='_blank'>suriyarabin@gmail.com</a>
      </div>
  </div>

  <!-- <div class="footer-credits text-center" >
      <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_andresjose", "footer", "click")' href="https://github.com/andresjosehr/andresjosehr-portfolio" target="_blank" rel="nofollow noopener noreferrer">
          <div>Built with Angular by Jose Andres</div>
      </a>
      <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_brittany", "footer", "click")' href="https://github.com/bchiang7/v4" target="_blank" rel="nofollow noopener noreferrer">
          <div class="mt-2">Designed by Brittany Chiang</div>
      </a>
  </div> -->

</footer>
